<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Do you really want to leave this website???</h1>

<form action="/real_end" method="post">
    <input type = "submit" value="Yes!" style="width:200px;height:100px;">
</form>
<form action="/main" method="post">
    <input type = "submit" value="No~" style="width:200px;height:100px;">
</form>
</div>


<h1>Thank you for visiting us. Good bye.See you!!</h1>
